body{
    margin: 0%;
    padding: 0%;
    font-family: 'Fira Sans', sans-serif;;
}
.donate-galary{
    padding: 0px 50px;
    text-align: center;
    background-image: url(images/donation4.jpg);    
    background-repeat:no-repeat ;
    background-size: cover;
    height: 400px;

}

.h1-tag{
    margin-top: 0px;
    padding-top: 70px;
    color: black;
    font-size: 35px;
}
.h1-tag-two{
    font-size: 35px;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.div-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donate-galary p{
    color: white;    
}

.btn-class{
    width: fit-content;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(90deg,rgb(239, 45, 45),purple);
    border-radius: 3px;
}

.donation-area{
    text-align: center;
}

.donation-amount div{
    position: relative;   
    margin: 20px 20px;  
    width: 100px;
    height: 90px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}  



.donation-amount div:nth-child(3){
    background-color: #f0ded7;
    border: 1px solid tomato;
}

hr{
    width: 50%;
}

.donation-plan{
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.donation-plan-div .food {
     height: 200px;
     background-color: #a9c3c3;
     padding: 15px;
     margin: 10px;
     border-radius: 5px;
     text-align: left;
}
.donation-plan-div .shelter {
     height: 200px;
     background-color: #f4c49a;
     padding: 15px;
     margin: 10px;
     border-radius: 5px;
     text-align: left;
}
.donation-plan-div .education {
     height: 200px;
     background-color: #d2eaa2;
     padding: 15px;
     margin: 10px;
     border-radius: 5px;
     text-align: left;
}
.donate-them{
    top:100px;
    margin: 100px  auto;
    width: 80%;    
}
.donate-them div{
    padding: 0 20px;
    width: 50%;
}

.updates{
    text-align: center;
    margin-bottom: 50px;
}
.updates div{
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 50%;
    background-color:#f4c49a ;
}
 .updates div input{
    border: none;
    background-color: #d4d9dd;
    height: 20px;
    padding: 6px;
    outline: none;
 }
 footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Lobster Two;
 }
 footer h2{
    color: red;
 }